* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    height: 100%;
}
.header {
    display: flex;
    min-height: 5vh;
    background-color: yellowgreen;
    width: 100%;
    margin-bottom: 10px;
}
.ads{
    background-color: yellowgreen;
    width: 100%;
    height: 46vh;
}
.article{
    background-color: yellowgreen;
    width: 100%;
    height: 87vh;
}
.nav{
    height: 46vh;
    width: 100%;
    background-color: yellowgreen;
}
.footer{
    background-color: yellowgreen;
    width: 100%;
    height: 5vh;
}
.container {
    min-height: 90vh;
    display: flex;
    width: 100%;
    gap: 10px;
}
.container1 {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    width: 30%;
    gap: 10px;
}
.container2{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 70%;
    gap: 10px;
}
.header, .nav, .ads, .article, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    justify-content: center;
}
